services:
  api:
    build:
      context: .
      target: dev
    ports:
      - 1337:1337
    env_file:
      - .env
    environment:
      - DATABASE_HOST=db
  db:
    image: postgres:9.6-alpine
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: dev_db
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: