name: Pipeline
on: push

jobs:
  run_build:
    name: Check the build builds
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check build works
        uses: npm run build
  deploy:
    name: Deploy to Azure
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    env:
      DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      WEBHOOK: ${{ secrets.WEBHOOK }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build image
        run: docker build --target prod --tag jackmead/strapi .
      - name: Docker login
        run: echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
      - name: Push the image
        run: docker push jackmead/strapi .
      - name: Trigger deployment
        run: curl --fail -X POST $WEBHOOK